<div class="full-background">
    <div class="join-form smaller">
        <div class="join-wrapper">
        <h1 class="h1-join">Invite Friends Via Email</h1>
        <div class="text-block-8">All emails will be sent via New Story's secure email server and will not be saved. Zero spam, no bs.</div>
        <div class="w-form">
            <form data-name="Email Form" id="email-form" name="email-form">
                <div class="friend-div" data-type="friend">
                    <div class="text-block-9">Friend #1</div><label for="name">First Name</label><input class="w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="their first name" type="text"><label for="email">Email Address:</label><input class="w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="their email address" required="required" type="text"></div>
                <div class="friend-div" data-type="friend">
                    <div class="text-block-9">Friend #2</div><label for="name-2">First Name</label><input class="w-input" data-name="Name" id="name-2" maxlength="256" name="name-2" placeholder="their first name" type="text"><label for="email-2">Email Address:</label><input class="w-input" data-name="Email" id="email" maxlength="256" name="email-2" placeholder="their email address" required="required" type="text"></div><input class="_2 button small w-button" data-wait="Please wait..." type="button" data-type="add-friend" value="add a friend">
                </div><a class="button full w-button" data-type="submit" href="#">Send</a>
            </form>
            </div><a class="center footer-link" href="/group/{{id}}/invite">or go back</a></div>
            <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
            </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="../javascripts/webflow.js" type="text/javascript"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>
<script>

var URL = (window.location.href);
var GroupID = URL.split('/')[4];
console.log(GroupID);
var $THE_FORM = $('[data-name="Email Form"]');
var $THE_BUTTON = $('[data-type="submit"]');
$THE_BUTTON.on('click', (event) => {
    event.preventDefault();
    $THE_FORM.submit();
})
$THE_FORM.on('submit', (event)=> {
    event.preventDefault();
    Promise.all($('[data-type="friend"]').map((idx, container) => {
        return $.ajax({
            url: "/group/" + GroupID + "/email",
            method: "POST",
            data: { 
                email: $(container).find('[data-name="Email"]').val(),
                friendName: $(container).find('[data-name="Name"]').val(),
                GroupID: GroupID,
            }
        }) 
        })).then((data)=> {
            // NEED to add dynamic group ID here ->
            console.log(data.url);
            window.location.href= data[0].url; 
        });
    });

var $ADD_FRIEND = $('[data-type="add-friend"]');
var counter = 2;
$ADD_FRIEND.on('click', (event) => {
    event.preventDefault();
    counter++;
    var $new_friend = $(`<div class="friend-div" data-type="friend"><div class="text-block-9">Friend #${counter}</div><label for="name">First Name</label><input class="w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="their first name" type="text"><label for="email">Email Address:</label><input class="w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="their email address" required="required" type="text"></div>`);
    $THE_FORM
        .append($new_friend)
        .append($ADD_FRIEND)
})
</script>